h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

h2 {
  font-style: italic;
  text-align: left;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: white;
  font-size: larger;
}

ul {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

body {
  background-color: lightgreen;
}